doctype html
html 
    head
        title= title
        <link rel="icon" type="image/svg" href="/images/favicon.svg">
        link(rel='stylesheet', href='/css/index.css')
        style: include style.css
        script(src="/socket.io/socket.io.js") 
    script: include index.js
    body
        div(class="wrap")
            div(class="paper")
                p= "Time in seconds:"
                input(type="text", id="time")
                button(id="start" class="btn-primary")="Start!"
            div(class="paper")
                p= "Increase on seconds:"
                input(type="text", id="increase")
                button(id="increase_btn" class="btn-primary")="Increase!"
            div(class="paper")
                p= "Decrease on seconds:"
                input(type="text", id="decrease")
                button(id="decrease_btn" class="btn-primary")="Decrease!"



        