doctype HTML
head 
    title= "404 Not Found!"
    <link rel="icon" type="image/svg" href="/images/favicon.svg">
    link(rel='stylesheet', href='/css/index.css')
    style: include style.css
body 
    div(class="wrap")
        h1="404"
        h5="Not Found"
        p(class="subtitle1")="The Requested Resource Is Not Found"
        a(class="primary" href="/")="Nav to Home"
    